<div class="shadow-sm p-4 border">
  <div class="d-flex justify-content-between align-items-center p-4" >
    <h2 class="text-xl font-semibold m-0">Users Data</h2>
    <button mat-raised-button color="primary" routerLink="/users/add">Add User</button>
  </div>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Age</th>
          <th>Address</th>
          <th>Password</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let user of users">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.age}}</td>
          <td>{{user.address}}</td>
          <td>{{user.password}}</td>
          <td >
            <button mat-raised-button color="accent" class="me-4" [routerLink]="'/users/'+user._id">Edit</button>
            <button mat-raised-button color="warn" (click)="delete(user._id!)">Delete</button>
          </td>
        </tr>

      </tbody>
    </table>
</div>
